# --- 1. File Sampah System & IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- 2. Python Cache (File sampah hasil compile) ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- 3. Jupyter Notebook Checkpoints (Sangat Penting!) ---
# Ini mencegah file backup otomatis Colab terupload
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# --- 4. Virtual Environment ---
venv/
env/
my_env/

# --- 5. Data Besar (Sesuai Checklist) ---
# Jika file data Anda > 100MB, GitHub akan menolak.
# Uncomment (hapus tanda #) baris di bawah jika dataset Anda sangat besar.
# data/*.csv
# data/*.data
# data/*.zip

# --- 6. File Model yang Terlalu Besar (Opsional) ---
# Jika model Deep Learning (.h5) ukurannya > 100MB, abaikan juga.
# *.h5
# *.pkl