# --- 1. File Sampah System & IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- 2. Python Cache (File sampah hasil compile) ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- 3. Jupyter Notebook Checkpoints 
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# --- 4. Virtual Environment ---
venv/
env/
my_env/

